// _variables.scss

// Colors
$primary-background-color: #FFFFFF;
$secondary-background-color: #FDF2F2;
$accent-background-color:#DB6181;

$primary-font-color:  #000000;
$pink-font-color:#C64063;
$light-pink-font-color:#DB6181;
$white-font-color:#FFFFFF;
$gray-font-color:#474747;



// Font stacks
$Roboto: "roboto", sans-serif;
$EB: "eb-garamond", serif;
$Ryo: "ryo-gothic-plusn", sans-serif;
$Din: "din-2014", sans-serif;
$Shipo: "shippori-mincho", sans-serif;

// Font weight
$black: 900;
$bold: 700;
$demi: 600;
$medium: 500;
$regular: 400;
$light: 300;