// _variables.scss

// Colors
$primary-background-color: #FFFCF4;
$secondary-background-color: #FF3396;
$accent-background-color:#F9909C;

$primary-font-color:  #000000;
$pink-font-color:#F9298E;
$light-pink-font-color: #E05E80;
$white-font-color:#FFFFFF;
$brown-font-color: #570A1E;



// Font stacks
$Din: din-2014, sans-serif;
$Sans: noto-sans-cjk-jp, sans-serif;;
$Toppan: toppan-bunkyu-midashi-min-st, serif;
$RokunRoll: rocknroll-one, sans-serif;
$Mplus: m-plus-rounded-1c, sans-serif;
$Hiragino: hiragino-kaku-gothic-pron, sans-serif;
$Kiwi: kiwi-maru, sans-serif;
$Yomogi: yomogi, sans-serif;
$Gugi: gugi, sans-serif;
$Rounded:  "m-plus-rounded-1c", sans-serif;
$OverlockSC: "overlockSC";


// Font weight
$black: 900;
$exbold: 800;
$bold: 700;
$demi: 600;
$medium: 500;
$regular: 400;
$light: 300;