.about-work__dot-box {
  position: relative;
  z-index: 200;
  transform: translateY(-20px);
}

.about-work {
  background-color: $accent-background-color;
  transform: translateY(-150px);
  padding-bottom: 110px;
  align-items: initial;


  .about-work__ttl-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;

    .about-work__ttl-container--img-1 {
      position: relative;
      z-index: 100;
      transform: translateX(70px);
    }
    
    .about-work__ttl-container--img-2 {
      position: relative;
      z-index: 100;
      transform: translate(-115px,15px);
    }

    .about-work__ttl-container--ttl {
      width: 665px;
      height: 65px;
      background: linear-gradient(transparent 70%,#fffcf4 70%);
      transform: translateY(15px);

      svg {
        overflow: initial;

        text {
          font-size         : 40px;
          font-family       : $Hiragino;
          stroke            : $primary-background-color;
          fill              : $brown-font-color;
          text-anchor       : middle;
          dominant-baseline : alphabetic;
        }

        &:nth-child(1) {
          stroke-width      : 5px;
          paint-order       : stroke;
        }

        &:nth-child(2) {
          stroke-width      : 0;
        }
      }
    }
  }

  .about-work__works-container {
    overflow-x: scroll;

    .works__arrow-box {
      position: absolute;
      top: 700px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 750px;
      z-index: 300;

      .works__arrow-box--right-arrow,
      .works__arrow-box--left-arrow {
        background-color: $brown-font-color;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .about-work__works {
      display: flex;
      gap: 30px;
      margin-top: 90px;
      position: relative;
  

      .about-work__work {
        background-color: #FFFFFF;
        padding-top: 80px;
        padding-left: 30px;
        border-radius: 10px;
        min-width: 800px;
        height: 440px;
        box-sizing: border-box;

  
        .work__img-with-dtl {
          display: flex;
  
          .work__img-with-dtl--img {
            margin-top: -170px;
          }
  
          .work__img-with-dtl--dtl-wrapper {
            display: flex;
            flex-direction: column;
            gap: 15px;
            transform: translateX(-40px);
  
            .dtl-box {
              display: flex;
              gap: 20px;
              
              .dtl-box__pink-box {
                background-color: $light-pink-font-color;
                border-radius: 30px;
                width: 102px;
                height: 32px;
                border: 3px solid #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
  
                .dtl-box__pink-box--ttl {
                  color: $primary-background-color;
                  font-family: $Sans;
                  font-weight: $bold;
                  font-size: 16px;
                }
              }
  
              .dtl-box__txt {
                font-family: $Sans;
                font-weight: $bold;
                font-size: 24px;
                color: #000;
              }
            }
          }
        }
  
        .work__ttl-with-txt-box {
          padding: 20px 0 0 20px;
  
          .work__ttl-with-txt-box--ttl {
            font-family: $Sans;
            font-weight: $black;
            font-size: 36px;
            color: #000;
            margin-bottom: 20px;
          }
  
          .work__ttl-with-txt-box--txt  {
            font-family: $Sans;
            font-weight: $medium;
            font-size: 20px;
            color: #000;
          }
        }
      }
    }
  }

  .about-work__bottom-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;

    .about-work__bottom-txt--top-txt-box {

      .bottom-txt__txt--large {
        width: 180px;
      }
    }

    .about-work__bottom-txt--bottom-txt-box {

      .bottom-txt__txt--large {
        width: 230px;
      }
    }

    .about-work__bottom-txt--bottom-txt-box,
    .about-work__bottom-txt--top-txt-box {
      display: flex;
      align-items: center;
      
          .bottom-txt__txt {
            font-family: $Sans;
            font-size: 32px;
            font-weight: $black;
            color: $primary-background-color;
          }
      
          .bottom-txt__txt--large {
            height: 65px;
            margin: 0 10px;
            background: linear-gradient(transparent 75%, $pink-font-color 75%);
      
            svg {
              overflow: initial;
      
              text {
                font-size         : 48px;
                font-family       : $Sans;
                stroke            : $accent-background-color;
                fill              : $primary-background-color;
                text-anchor       : middle;
                dominant-baseline : alphabetic;
              }
      
              &:nth-child(1) {
                stroke-width      : 6px;
                paint-order       : stroke;
              }
      
              &:nth-child(2) {
                stroke-width      : 0;
              }
            }
          }
    }
  }
}