.about {
    padding-top: 68px;
    padding-bottom: 87px;

    @include mq(tab) {
        padding-top: 65px;
        padding-bottom: 58px;
    }

    .about-box {
        display: flex;
        flex-direction: row;
        align-items: center;

        @include mq(tab) {
            flex-direction: column-reverse;
            gap: 18px;
        }

        .about-img {

            @include mq(tab) {
                width: 100vw;
            }
    
        }
    
        .about-txt-container {
            text-align: center;
            font-family: $Sans;
            flood-color: $primary-font-color;
            font-weight: $bold;
            text-shadow: 4px 4px 4px #FFFCF4;
            transform: translateX(-90px);
            text-shadow:
            2px 1px #fffcf4,
            -2px  2px 1px #fffcf4,
            2px -2px 1px #fffcf4,
            -2px -2px 1px #fffcf4,
            2px  0px 1px #fffcf4,
            0px  2px 1px #fffcf4,
            -2px  0px 1px #fffcf4,
            0px -2px 1px #fffcf4;

            @include mq(tab) {
                transform: initial;
                white-space: nowrap;
            }
    
            .pink-txt {
                color: $pink-font-color;
            }
    
            .about-txt-container__about-ttl {
                font-size: 32px;
                margin-bottom: 52px;

                @include mq(tab) {
                    margin-bottom: 49px;
                }
    
                .pink-txt {
                    font-weight: $black;
                    font-size: 40px;
                }
            }
    
            .about-txt-container__about-txt {
                font-size: 16px;
                line-height: 1.87;
    
                .pink-txt {
                    font-size: 20px;
                    line-height: 1.5;
                }

                .pink-small {
                    color: $pink-font-color;
                    font-size: 16px;
                }
            }
        }
    }
}