.about-work__dot-box {
  position: relative;
  z-index: 200;
  transform: translateY(-20px);
}

.about-work {
  background-color: $accent-background-color;
  transform: translateY(-150px);
  padding-bottom: 110px;


  .about-work__ttl-container {
    display: flex;
    margin-top: 150px;

    .about-work__ttl-container--img {
      position: relative;
      z-index: 100;
    }

    .about-work__ttl-container--ttl {
      margin-left: -30px;
      transform: translateY(30px);
    }
  }
}