.faq {
  background-color: $primary-background-color;
  padding-bottom: 130px;
  padding-top: 100px;

  @include mq(tab) {
    padding-top: 65px;
    padding-bottom: 0;
  }

  .faq__ttl-box {
    display: flex;
    align-items: center;

    @include mq(tab) {
      transform: translateX(15px);
    }

    .faq__ttl-box--speech-bubble {
      position: relative;
      transform: translate(91px,0px);

      @include mq(tab) {
        transform: translate(30px,5px);
      }

      .ttl-box__speech-bubble--img {

        @include mq(tab) {
          width: 71.31px;
        }
      }

      .ttl-box__speech-bubble--txt {
        font-family: $RokunRoll;
        font-weight: $regular;
        font-size: 40px;
        color: $brown-font-color;
        position: absolute;
        top: 41%;
        left: 55%;    
        transform: translate(-50%,-50%);
        rotate: -10deg;

        @include mq(tab) {
          font-size: 19.67px;
        }

        .pink {
          color: $light-pink-font-color;
        }
      }
    }

    .faq__ttl-box--ttl {
      background: linear-gradient(transparent 70%,#FDD23E 70%);
      height: 55px;
      padding: 0 70px;

      @include mq(tab) {
        padding: 0 60px;
        width: 132px;
      }

      svg {
        overflow: initial;

        text {
          font-size         : 40px;
          font-family       : $Hiragino;
          stroke            : $primary-background-color;
          fill              : $brown-font-color;
          text-anchor       : middle;
          dominant-baseline : alphabetic;

          @include mq(tab) {
            font-size: 32px;
          }
        }

        &:nth-child(1) {
          stroke-width      : 6px;
          paint-order       : stroke;

          @include mq(tab) {
            stroke-width: 4px;
          }
        }

        &:nth-child(2) {
          stroke-width      : 0;
        }
      }
    }

    .faq__ttl-box--right-img {
      transform: translate(-120px,-3px);

      @include mq(tab) {
        width: 110px;
        transform:translate(-50px,-5px);
      }
    }
  }

  .fqa__contents {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 56px;
    margin-bottom: 107px;
    width: 810px;

    @include mq(tab) {
      margin: 61px 0;
      max-width: 390px;
      width: 97vw;
    }

    .fqa__content {
      font-family: $Sans;
      font-size: 24px;
      font-weight: $bold;
      border: 4px solid #FFFFFF;
      border-radius: 16px;

      @include mq(tab) {
        font-size: 16px;
        line-height: 1.6;
      }

      .fqa__content--q,
      .fqa__content--a  {
        display: flex;
        gap: 20px;

        @include mq(tab) {
          gap: 5px;
        }
      }


      .fqa__content--q {
        color: #FFFFFF;
        background-color: $light-pink-font-color;
        border-radius: 10px;
        padding: 30px;

        @include mq(tab) {
          padding: 20px;
          width: initial;
        }

        .q__icon {

        }

        .q__txt {

        }
      }

      .fqa__content--a {
        color: $brown-font-color;
        padding: 20px 30px 0 30px;

        .a__icon {

        }
        .a__txt {

        }
      }
    }
  }
}