.reasons {
    position: relative;

    .top-left-shape {
        width: 20.76vw;
        position: absolute;
        top: 0;
        left: 0;

        @include mq(wpc) {
            width: 11vw;
        }

        @include mq(tab) {
            width: 200px;
            left: -60px;
        }
    }

    .bottom-left-shape {
        width: 17vw;
        position: absolute;
        bottom: 21%;
        left: 0;

        @include mq(wpc) {
            width: 11vw;
        }

        @include mq(tab) {
            width: 190px;
            left: -40px;
            bottom: -70px;
        }
    }

    .middle-right-shape {
        width: 22.36vw;
        position: absolute;
        bottom: 41%;
        right: 0;

        @include mq(wpc) {
            width: 11vw;
        }

        @include mq(tab) {
            width: 200px;
            bottom: 39.5%;
        }
    }

    .reasons__ttl-with-img {
        display: flex;
        position: relative;
        margin-top: 67px;
        transform: translateX(-50px);

        @include mq(tab) {
            transform: initial;
            margin-top: 35px;
        }

        .reasons__ttl-with-img--ttl {
            transform: translate(30px, 90px);

            @include mq(tab) {
                width: 45.11vw;
                max-width: 195px;
                transform: translateY(30px);
            }
        }

        .reasons__ttl-with-img--img {

            @include mq(tab) {
                width: 47.9vw;
                max-width: 206px;
            }
        }
    }

    .reasons__points {
        display: flex;
        margin-bottom: 110px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 111px 32px;
        margin-top: -30px;
        width: 1100px;

        @include mq(tab) {
            flex-direction: column;
            align-items: center;
            margin-bottom: 69px;
            gap: 95px;
            margin-top: 80px;
            width: initial;
        }

        .point {
            border: 6px solid $brown-font-color;
            border-radius: 10px;
            box-shadow: 10px 10px #FCC944;
            background-color: #ffffff;
            width: 480px;
            height: 440px;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;

            @include mq(tab) {
                width: 88vw;
                max-width: 380px;
                max-height: 400px;
            }

            .point__ttl {
                font-family: $Gugi;
                color: $light-pink-font-color;
                font-weight: $regular;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                position: absolute;
                top: -80px;
                left: 50%;
                transform: translateX(-50%);

                .point__ttl--txt {
                    font-size: 16px;
                    position: relative;
                    text-shadow: 1px 1px #fff, -1px -1px #fff,
                        2px 2px #fff, -2px -2px #fff,
                        3px 3px #fff, -3px -3px #fff,
                        4px 3px #fff, -4px -3px #fff,
                        5px 1px #fff, -5px -1px #fff;

                    &::after {
                        content: "";
                        width: 20px;
                        height: 6px;
                        background-color: $light-pink-font-color;
                        position: absolute;
                        top: 25px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }

                .point__ttl--num {
                    font-size: 64px;
                    text-shadow: 5px 1px #fff, -5px -1px #fff;
                }
            }

            .point__txt {
                font-family: $Sans;
                font-weight: $black;
                font-size: 28px;
                color: $brown-font-color;
                text-shadow:1px 1px 2px #fff, -1px -1px 2px #fff,
                    2px 2px 2px #fff, -2px -2px 2px #fff,
                    1px -1px 2px #fff, -1px 1px 2px #fff,
                    2px -2px 2px #fff, -2px 2px 2px #fff, ;
                background: linear-gradient(transparent 80%, #D9D9D9 80%);
                padding: 0 7px;

                @include mq(tab) {
                    font-size: 24px;
                }
            }

            .point__dtl {
                font-family: $Sans;
                font-weight: $bold;
                font-size: 16px;
                color: $brown-font-color;
                width: 360px;
                height: 90px;
                text-align: center;
                margin: 26px 0 52px 0;
                line-height: 1.8;

                @include mq(tab) {
                    font-size: 14px;
                    width: 310px;
                    margin-top: 28px;
                }
            }
        }

        .point-1 {

            .point__icon {
                margin-bottom: 37px;

                @include mq(tab) {
                    margin-bottom: 32px;
                }
            }

            .point__txt {
                padding: 0 25px;

                @include mq(tab) {
                    padding: 0 7px;
                }
            }
        }

        .point-2 {

            .point__icon {
                margin-bottom: 12px;

                @include mq(tab) {
                    margin-bottom: 18px;
                }
            }
        }

        .point-3 {

            .point__icon {
                margin-bottom: 35px;

                @include mq(tab) {
                    margin-bottom: 30px;
                }
            }
        }

        .point-4 {

            .point__icon {
                margin-bottom:43px;

                @include mq(tab) {
                    margin-bottom: 23px;
                }
            }
        }
    }
}