.recommend {
    background-image: url(/images/recommend/bg/recommend-bg.svg);
    background-size: 100% 100%;
    height: 748px;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-top: 68px;
    margin-bottom: 70px;

    @include mq(tab) {
        background-image: url(/images/recommend/sp/bg.svg);
        justify-content: center;
    }

    .left-shape {
        width: 16.319vw;
        position: absolute;
        left: 0;
        top: -1vw;

        @include mq(wpc) {
            width : 11vw;
        }

        @include mq(tab) {
            width: 222px;
            top: -100px;
            left: -10px;
        }
    }

    .right-shape {
        width: 18.68vw;
        position: absolute;
        right: 0;
        bottom: 8vw;

        @include mq(wpc) {
            width: 12vw;
        }

        @include mq(tab) {
            width: 222px;
            right: -61px;
            bottom: -41px;
        }
    }

    .recommend-contents {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .recommend-contents__middle-txt {

            @include mq(tab) {
                width: 93vw;
                max-width: 400px;
                margin-bottom: 38px;
            }
        }

        .recommend-contents__pc-top-speech-bubbles {
            display: flex;

            .top-speech-bubbles__speech-bubble-1 {
                transform: translate(73px, 59px);
            }

            .top-speech-bubbles__speech-bubble-2 {
                z-index: 400;
            }

            .top-speech-bubbles__speech-bubble-3 {
                z-index: 300;
                transform: translateX(-30px);
            }

            .top-speech-bubbles__speech-bubble-4 {
                transform: translate(-64px, 51px);
            }
        }

        .recommend-contents__pc-bottom-speech-bubbles {
            display: flex;
            flex-direction: row-reverse;

            .bottom-speech-bubbles__speech-bubble-1 {
                transform: translate(-67px, -4px);
            }

            .bottom-speech-bubbles__speech-bubble-2 {
                z-index: 400;
                transform: translate(-3px, 44px);
            }

            .bottom-speech-bubbles__speech-bubble-3 {
                z-index: 300;
                transform: translate(31px, 49px);
            }

            .bottom-speech-bubbles__speech-bubble-4 {
                transform: translate(65px, 0px);
            }
        }

        .recommend-contents__pc-top-speech-bubbles,
        .recommend-contents__pc-bottom-speech-bubbles {

        .top-speech-bubbles__speech-bubble-1,
        .top-speech-bubbles__speech-bubble-2,
        .top-speech-bubbles__speech-bubble-3,
        .top-speech-bubbles__speech-bubble-4,
        .bottom-speech-bubbles__speech-bubble-1,
        .bottom-speech-bubbles__speech-bubble-2,
        .bottom-speech-bubbles__speech-bubble-3,
        .bottom-speech-bubbles__speech-bubble-4 {
            position: relative;
            
            .top-speech-bubbles__speech-bubble-1--img {
                rotate: -149.37deg;
                transform: translate(-24px, -9px);
            }

            .top-speech-bubbles__speech-bubble-2--img {
                transform: translate(7px, 10px);
            }

            .top-speech-bubbles__speech-bubble-3--img {
                rotate: 27.52deg;
            }

            .top-speech-bubbles__speech-bubble-4--img {
                rotate: 107deg;
            }

            .bottom-speech-bubbles__speech-bubble-1--img {
                rotate: 30.63deg;
                transform: translate(-13px, 15px);
            }

            .bottom-speech-bubbles__speech-bubble-2--img {
                rotate: 180deg;
            }

            .bottom-speech-bubbles__speech-bubble-3--img {
                rotate: -152.48deg;
            }

            .bottom-speech-bubbles__speech-bubble-4--img {
                rotate: -73deg;
                transform: translate(-11px, 0px);
            }

            .top-speech-bubbles__speech-bubble-1--txt,
            .top-speech-bubbles__speech-bubble-2--txt,
            .top-speech-bubbles__speech-bubble-3--txt,
            .top-speech-bubbles__speech-bubble-4--txt,
            .bottom-speech-bubbles__speech-bubble-1--txt,
            .bottom-speech-bubbles__speech-bubble-2--txt,
            .bottom-speech-bubbles__speech-bubble-3--txt,
            .bottom-speech-bubbles__speech-bubble-4--txt  {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-family: $Hiragino;
                font-size: 24px;
                color: $brown-font-color;
                letter-spacing: -0.1em;
                white-space: nowrap;
                text-align: center;
            }
        }
        }



        .recommend-contents__tab-speech-bubbles {
            display: flex;
            flex-direction: column;
            align-items: center;

            .recommend-contents__tab-top-speech-bubbles {
                z-index: 300;
            }

            .recommend-contents__tab-middle-speech-bubbles {
                margin: -33px 0 -47px 0;
                z-index: 200;
            }
            .recommend-contents__tab-top-speech-bubbles,
            .recommend-contents__tab-middle-speech-bubbles,
            .recommend-contents__tab-bottom-speech-bubbles {
            display: flex;

                .tab-top-speech-bubbles__speech-bubble-1,
                .tab-top-speech-bubbles__speech-bubble-2,
                .tab-middle-speech-bubbles__speech-bubble-1,
                .tab-middle-speech-bubbles__speech-bubble-2,
                .tab-middle-speech-bubbles__speech-bubble-3,
                .tab-bottom-speech-bubbles__speech-bubble-1,
                .tab-bottom-speech-bubbles__speech-bubble-2,
                .tab-bottom-speech-bubbles__speech-bubble-3 {
                    position: relative;

                    .tab-top-speech-bubbles__speech-bubble-1--img {
                        width: 174.24px;
                    
                    }
                    .tab-top-speech-bubbles__speech-bubble-2--img {
                        width: 198.39px;
                        rotate: -90deg;
                    }
                    .tab-middle-speech-bubbles__speech-bubble-1--img {
                        width: 194.87px;
                    }
                    .tab-middle-speech-bubbles__speech-bubble-2--img {
                        width: 199.56px;
                        rotate: -90deg;
                    }
                    .tab-middle-speech-bubbles__speech-bubble-3--img {
                        width: 193.69px;
                        rotate: 90deg;

                    }
                    .tab-bottom-speech-bubbles__speech-bubble-1--img {
                        width: 192.52px;
                    }
                    .tab-bottom-speech-bubbles__speech-bubble-2--img {
                        width: 180.78px;
                    }
                    .tab-bottom-speech-bubbles__speech-bubble-3--img {
                        width: 193.69px;
                        rotate: 90deg;
                    }

                    .tab-top-speech-bubbles__speech-bubble-1--txt,
                    .tab-top-speech-bubbles__speech-bubble-2--txt,
                    .tab-middle-speech-bubbles__speech-bubble-1--txt,
                    .tab-middle-speech-bubbles__speech-bubble-2--txt,
                    .tab-middle-speech-bubbles__speech-bubble-3--txt,
                    .tab-bottom-speech-bubbles__speech-bubble-1--txt,
                    .tab-bottom-speech-bubbles__speech-bubble-2--txt,
                    .tab-bottom-speech-bubbles__speech-bubble-3--txt {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        font-family: $Hiragino;
                        font-size: 18.78px;
                        color: $brown-font-color;
                        letter-spacing: -0.1em;
                        white-space: nowrap;
                        text-align: center;
                    }
                }

                .tab-top-speech-bubbles__speech-bubble-1 {
                    transform: translate(13px,-11px);
                }
                .tab-top-speech-bubbles__speech-bubble-2 {
                    transform: translateX(-18px);

                    .tab-top-speech-bubbles__speech-bubble-2--txt {
                        top: 40%;
                    }
                }
                .tab-middle-speech-bubbles__speech-bubble-1 {
                    transform: translate(53px,-28px);
                }
                .tab-middle-speech-bubbles__speech-bubble-2 {

                    .tab-middle-speech-bubbles__speech-bubble-2--txt {
                        top: 45%;
                    }
                }
                .tab-middle-speech-bubbles__speech-bubble-3 {
                    transform: translate(-52px,-10px);
                }
                .tab-bottom-speech-bubbles__speech-bubble-1 {
                        transform: translate(53px,-10px);

                    .tab-bottom-speech-bubbles__speech-bubble-1--txt {
                        top: 45%;
                    }
                }
                .tab-bottom-speech-bubbles__speech-bubble-2 {

                    .tab-bottom-speech-bubbles__speech-bubble-2--txt {
                        top: 45%;
                        left: 47%;
                    }
                }
                .tab-bottom-speech-bubbles__speech-bubble-3 {
                        transform: translate(-37px,-10px);

                    .tab-bottom-speech-bubbles__speech-bubble-3--txt {
                        left: 45%;
                    }
                }
            }

            .recommend-contents__tab-top-speech-bubbles {

            }

            .recommend-contents__tab-middle-speech-bubbles {
            }

            .recommend-contents__tab-bottom-speech-bubbles {
                transform: translateX(-10px);
            }

        }
    }
}