.top-view {
    
    .main-view {
        position: relative;
        background-image: url(/images/main-view/bg/bg.svg);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: 100% 100%;
        width: 100vw;

        @include mq(tab) {
            background-image: url(/images/main-view/sp/main-view-bg.png.webp);
        }

        .top-left-shape,
        .top-middle-shape,
        .top-right-shape,
        .bottom-left-shape,
        .bottom-right-shape {
            position: absolute;
        }

        .top-left-shape {
            top: 0;
            left: 0;
            width: 7.708vw;
            max-width: 25vh;
            @include mq(tab) {
                width: 15.58vw;
                top: 3%;
            }
        }

        .top-middle-shape {
            top: 0;
            left: 36%;
            width: 27.0138vw;
            max-width: 55vh;

            @include mq(tab) {
                width: 38.837vw;
                left: 27%;
            }
        }

        .top-right-shape {
            top: 0;
            right: 0;
            width: 16.94vw;
            max-width: 40vh;

            @include mq(tab) {
                width: 26.279vw;
            }
        }

        .bottom-left-shape {
            bottom: 0;
            left: 0;
            width: 23.68vw;
            max-width: 60vh;

            @include mq(tab) {
                width: 36.976vw;
                bottom: 11%;
            }
        }

        .bottom-right-shape {
            bottom: 0;
            right: 0;
            width: 15.277vw;
            max-width: 44vh;
            @include mq(tab) {
                width: 20.697vw;
            }
        }

        .first-view {
            width: 100%;
            position: relative;
            z-index: 500;
    
            .fv__top-contents {
                display: flex;
                justify-content: space-between;
                padding:2.6vw 5.76vw 0 2.5vw;

                @include mq(tab) {
                    padding: 2.6vw 1.86vw 0 2.5vw;
                }
    
                .top-contents__logo-box {
                    background-image: url(/images/main-view/bg/logo-bg.svg);
                    width: 21.18vw;
                    height: 6.527vw;
                    background-size: cover;
                    position: relative;
                    max-width: 36.79vh;
                    max-height: 11.34vh;

                    @include mq(tab) {
                        width: 32.79vw;
                        height: 10vw;
                        max-width: 15.28vh;
                        max-height: 4.66vh;
                    }
    
                    .top-contents__logo {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        width: 19.444vw;
                        max-width: 33.77vh;

                        @include mq(tab) {
                            width: 30.23vw;
                            max-width: 14.08vh;
                        }
                    }
                }
    
                .top-contents__top-cta-btns {
                    display: flex;
                    align-items: center;
                    gap: 1.38vw;

                    @include mq(tab) {
                        gap: 1.86vw;
                    }
    
                    .top-cta-btns__cta-btn--pink,
                    .top-cta-btns__cta-btn--yellow {
                        border: 0.208vw solid $brown-font-color;
                        border-radius: 6.944vw;
                        width: 11.319vw;
                        height: 2.986vw;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.764vw;
                        max-width: 19.66vh;
                        max-height: 5.19vh;

                        @include mq(tab) {
                            border: min(0.465vw, 0.22vh) solid $brown-font-color;
                            width: 28.139vw;
                            height: 7.209vw;
                            max-width: 13.11vh;
                            max-height: 3.36vh;
                        }
    
                        .cta-btn-arrow {
                            width: 0.416vw;
                            max-width: 0.72vh;

                            @include mq(tab) {
                                width: 0.93vw;
                                max-width: 0.43vh;
                            }
                        }
    
                        .cta-btn-pink__txt, 
                        .cta-btn-yellow__txt {
                            font-size: 1.111vw;
                            font-family: $Kiwi;
                            font-weight: $medium;
                            white-space: nowrap;
                            font-size: min(1.111vw,1.93vh);

                            @include mq(tab) {
                                font-size: min(2.79vw, 1.30vh);
                            }
                        }
                    }
    
                    .top-cta-btns__cta-btn--pink {
                        background-color: #F653A2;
    
                        .cta-btn-pink__txt {
                            color: $white-font-color;
                        }
                    }
    
                    .top-cta-btns__cta-btn--yellow {
                        background-color: #FCC944;
    
                        .cta-btn-yellow__txt {
                            color: $primary-font-color;
                        }
                    }
                }
            }
    
            .fv-bottom-contents {
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translate(2vw, -3vw);

                @include mq(tab) {
                    transform: initial;
                    flex-direction: column;
                }
    
                .left-contents {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    transform: translate(min(3.125vw,5.43vh),  min(6.25vw,10.86vh));

                    @include mq(tab) {
                        transform: initial;
                        align-items: center;
                    }
    
                    .left-contents__bg-yellow--txt {
                        background-color: #FCC944;
                        font-family: $Hiragino;
                        color: $primary-font-color;
                        padding: min(0.417vw,0.72vh) min(0.694vw,1.21vh) ;
                        margin-bottom: min(1.181vw,2.05vh);
                        font-size: min(1.18vw,2.05vh);

                        @include mq(tab) {
                            padding: min(1.2vw, 0.56vh) min(2.325vw, 1.08vh);
                            margin-bottom: min(3.255vw, 1.52vh);
                            margin-top: min(4.88vw, 2.27vh);
                            font-size: min(2.79vw, 1.30vh);
                        }
                    }
    
                    .left-contents__pink--txt {
                        font-family: $Sans;
                        color: $primary-font-color;
                        font-weight: $black;
                        font-size: min(1.389vw,2.41vh);

                        @include mq(tab) {
                            font-size: min(3.72vw, 1.73vh);
                            transform: translateX(min(-9.302vw, -4.33vh));
                        }
    
                        .pink {
                            color: $pink-font-color;
                            font-size: min(2.222vw,3.86vh);

                            @include mq(tab) {
                                font-size: min(5.58vw, 2.60vh);
                            }
                        }
                    }
    
                    .left-contents__fv-title {
                        transform: translateX(-1.04vw);
                        margin: max(-1.944vw,-3.38vh) 0 max(-2.5vw,-8.34vh) 0;

                        @include mq(tab) {
                            transform: inherit;
                            margin: initial;
                        }
    
                        .fv-title__img {
                            width: 35.972vw;
                            max-width: 62.48vh;

                            @include mq(tab) {
                                width: 85.348vw;
                                margin-top: max(-5.813vw, -2.71vh);
                                transform: translateX(min(3.02vw, 1.41vh));
                                max-width: 39.76vh;
                            }
                        }
                    }
    
                    .left-contents__circle-contents {
                        display: flex;
                        padding: 0;
                        gap: min(1.667vw,2.90vh);
                        margin-bottom: 1.667vw;

                        @include mq(tab) {
                            gap: min(2.79vw, 1.30vh);
                            margin-bottom: min(7.67vw, 3.57vh);
                            margin-top: 0;
                        }
    
                        .circle-content {
                            background-color: #FFFFFF;
                            list-style: none;
                            border-radius: 50%;
                            width: 9.236vw;
                            height: 9.236vw;
                            filter: drop-shadow(0 0.416vw 0.138vw #00000025);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            max-width: 16.04vh;
                            max-height: 16.04vh;

                            @include mq(tab) {
                                width: 27.9vw;
                                height: 27.9vw;
                                filter: drop-shadow(0 0.9vw 0.2vw rgba(0, 0, 0, .1450980392));
                                max-width: 13.00vh;
                                max-height: 13.00vh;
                            }
    
                            .circle-content__txt {
                                color: $primary-font-color;
                                text-align: center;
                                
                                .pink {
                                    color: $pink-font-color;
                                    font-family: $Sans;
                                    font-weight: $black;
                                }
                            }
    
                            .txt-1 {
                                font-family: $Sans;
                                font-weight: $bold;
                                font-size: min(1.667vw,2.90vh);
                                line-height: 0.7;
                                text-align: left;
                                margin-left: min(0.694vw,1.21vh);

                                @include mq(tab) {
                                    font-size: min(5.076vw, 2.36vh);
                                    transform: translateX(min(0.69vw, 0.32vh));
                                }
                                
                                .pink {
                                    font-size: min(2.778vw,4.83vh);
                                    display: inline-block;
                                    transform: translate(min(0.138vw,0.24vh), min(0.625vw,1.09vh));
                                    text-shadow:
                                    2px 1px #FFFFFF,
                                    -2px  2px 1px #FFFFFF,
                                    2px -2px 1px #FFFFFF,
                                    -2px -2px 1px #FFFFFF,
                                    2px  0px 1px #FFFFFF,
                                    0px  2px 1px #FFFFFF,
                                    -2px  0px 1px #FFFFFF,
                                    0px -2px 1px #FFFFFF;

                                    @include mq(tab) {
                                        font-size: min(8.46vw, 3.94vh);;
                                        transform: translate(min(0.138vw, 0.06vh),min(1.625vw, 0.76vh));
                                    }
                                }
                            }
                            
                            .txt-2 {
                                font-family: $Sans;
                                font-weight: $bold;
                                font-size: min(1.063vw,1.85vh);
                                line-height: 1.3;

                                @include mq(tab) {
                                    font-size: min(3.23vw, 1.50vh);;
                                }
                                
                                .pink {
                                    font-size: min(2.657vw,4.62vh);

                                    @include mq(tab) {
                                        font-size: min(8.095vw, 3.77vh);
                                    }
                                }
                            }
    
                            .txt-3 {
                                font-family: $Hiragino;
                                font-size: min(1.063vw,1.85vh);
                                line-height: 1.3;

                                @include mq(tab) {
                                    font-size: min(3.237vw, 1.51vh);
                                }
                            }

                            .num-and-txt {
                                display: flex;

                                .num-and-txt-img {
                                    width: 6.1458vw;
                                    max-width: 10.68vh;
                                    margin: min(0.5vw,0.87vh) 0;

                                    @include mq(tab) {
                                        width: 19.069vw;
                                        max-width: 8.88vh;
                                    }
                                }

                                .put-on-txt {
                                    font-family: $Hiragino;
                                    font-size: min(1.063vw,1.85vh);
                                    display: inline-block;
                                    transform: translate(min(-0.277vw,0.48vh), min(1.277vw,3.22vh));
                                    
                                    @include mq(tab) {
                                        font-size: min(3.237vw, 1.51vh);
                                        transform: translate(max(-1vw, -0.47vh),min(4vw, 1.86vh));
                                    }
                                }
                            }
                        }
                    }
    
                    .left-contents__bottom-cta-btns {
                        display: flex;
                        align-items: center;
                        gap: min(2.083vw,3.62vh);

                        @include mq(tab) {
                            gap: min(1.6279vw, 0.76vh);
                        }
        
                        .bottom-cta-btns__cta-btn--pink,
                        .bottom-cta-btns__cta-btn--yellow {
                            border-radius: 6.944vw;
                            width: 13.958vw;
                            height: 4.236vw;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: min(1.736vw,3.02vh);
                            max-width: 24.25vh;
                            max-height: 7.36vh;

                            @include mq(tab) {
                                width: 46.74vw;
                                height: 14.18vw;
                                gap: min(1.627vw, 0.76vh);
                                max-width: 21.77vh;
                                max-height: 6.61vh;
                            }
    
                            .cta-btn-arrow {
                                width: 0.416vw;
                                max-width: 0.72vh;

                                @include mq(tab) {
                                    width: 1.395vw;
                                    max-width: 0.65vh;
                                }
                            }
        
                            .cta-btn-pink__txt, 
                            .cta-btn-yellow__txt {
                                font-size: min(1.389vw,2.41vh);
                                font-family: $Kiwi;
                                font-weight: $medium;
                                white-space: nowrap;

                                @include mq(tab) {
                                    font-size: min(4.65vw, 2.17vh);
                                }
                            }
                        }
        
                        .bottom-cta-btns__cta-btn--pink {
                            background-color: #F653A2;
                            border: 0.208vw solid $brown-font-color;

                            @include mq(tab) {
                                border: min(0.697vw, 0.32vh) solid $brown-font-color;
                            }
        
                            .cta-btn-pink__txt {
                                color: $white-font-color;
                            }
                        }
        
                        .bottom-cta-btns__cta-btn--yellow {
                            background-color: #FCC944;
                            border: 0.208vw solid #000;

                            @include mq(tab) {
                                border: min(0.697vw, 0.32vh) solid #000;
                            }
                            
                            .cta-btn-yellow__txt {
                                color: $primary-font-color;
                            }
                        }
                    }
    
                }
    
                .right-contents {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    @include mq(wpc) {
                        gap: min(3vw, 1.40vh);
                    }
    
                    .right-contents__sppech-bubble-box {
                        display: flex;
                        align-items: center;
                        transform: translate(min(6.94vw,12.06vh), min(2.569vw,4.46vh));

                        @include mq(tab) {
                            transform: initial;
                            margin: -40px 0 -43px 0;
                        }
    
                        .sppech-bubble__left,
                        .sppech-bubble__middle,
                        .sppech-bubble__right {
                            position: relative;
    
                            .sppech-bubble-left__img {
                                width: 11.597vw;
                                max-width: 20.14vh;

                                @include mq(tab) {
                                    width: 27.2vw;
                                    max-width: 12.67vh;
                                }
                            }
    
                            .sppech-bubble-middle__img {
                                width: 16.493vw;
                                max-width: 28.65vh;

                                @include mq(tab) {
                                    width: 38.837vw;
                                    max-width: 18.09vh;
                                }
                            }
    
                            .sppech-bubble-right__img {
                                width: 16.284vw;
                                max-width: 28.29vh;

                                @include mq(tab) {
                                    width: 38.37vw;
                                    max-width: 17.88vh;
                                }
                            }
    
                            .sppech-bubble__txt {
                                position: absolute;
                                text-align: center;
                                font-family: $Hiragino;
                                color: $primary-font-color;
                                font-size: min(1.667vw,2.90vh);
                                white-space: nowrap;

                                @include mq(tab) {
                                    font-size: min(3.25vw, 1.51vh);
                                }
                            }
                        }
    
                        .sppech-bubble__left {
                            transform: translate(min(0.694vw,1.21vh), min(3.263vw,5.67vh));

                            @include mq(tab) {
                                transform: translate(min(15vw, 6.99vh), min(2vw, 0.93vh));
                            }
    
                            .sppech-bubble__txt {
                                top: 39%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                            }
                        }
    
                        .sppech-bubble__middle {

                            @include mq(tab) {
                                transform: translateX(min(8.1395vw, 3.79vh));
                                z-index: 100;
                            }
    
                            .sppech-bubble__txt {
                                top: 48%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                            }
                        }
    
                        .sppech-bubble__right {
                            transform: translate(min(-1.013vw,-1.76vh), min(3.472vw,6.03vh));

                            @include mq(tab) {
                                transform: translate(max(-5vw, -2.33vh), min(2vw, 0.93vh));
                            }
    
                            .sppech-bubble__txt {
                                top: 49%;
                                left: 49%;
                                transform: translate(-50%,-50%);
                            }
                        }
                    }
    
                    .right-contents__fv-img {
                        width: 60vw;
                        max-width: 104.22vh;

                        @include mq(tab) {
                            width: 117vw;
                            max-width: 54.51vh;
                        }
                    }
                }
            }
        }

        .intro__top-txt {
            margin-top: 2vw;
            width: 22vw;
            max-width: 47.21vh;
            position: relative;
            z-index: 100;

            @include mq(tab) {
                width: 50vw;
                max-width: 400px;
                margin-top: 10vw;
            }

            @include mq(sp) {
                margin-top: min(8.83vw, 4.11vh);
                width: 93vw;
                max-width: 43.33vh;
            }
        }
    }

    .intro__bottom-txt {
        margin-bottom: 60px;
        font-family: $Sans;
        font-weight: $bold;
        color: $primary-font-color;
        font-size: min(33.32px,57.88vh);
        text-align: center;
        margin-top: 3.194vw;

        @include mq(tab) {
            margin-top: 20px;
            font-size: 24px;
        }

        .pink-num {
            font-family: $Din;
            font-weight: $bold;
            color: $pink-font-color;
            font-size: min(55.53px,96.46vh);

            @include mq(tab) {
                font-size: 36px;
            }
        }
    }
}