.top-view {
    
    .main-view {
        position: relative;
        width: 100vw;
        height: 70.55555vw;
        background-image: url(/images/main-view/bg/main-view-bg.png.webp);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;

        .first-view {
            width: 100%;
            position: relative;
            z-index: 500;
    
            .fv__top-contents {
                display: flex;
                justify-content: space-between;
                padding: 2.6vw 5.76vw 0 2.5vw;
    
                .top-contents__logo-box {
                    background-image: url(/images/main-view/bg/logo-bg.svg);
                    width: 21.18vw;
                    height: 6.527vw;
                    background-size: cover;
                    position: relative;
    
                    .top-contents__logo {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        width: 19.444vw;
                    }
                }
    
                .top-contents__top-cta-btns {
                    display: flex;
                    align-items: center;
                    gap: 1.38vw;
    
                    .top-cta-btns__cta-btn--pink,
                    .top-cta-btns__cta-btn--yellow {
                        border: 0.208vw solid $brown-font-color;
                        border-radius: 6.944vw;
                        width: 11.319vw;
                        height: 2.986vw;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.764vw;
    
                        .cta-btn-arrow {
                            width: 0.416vw;
                        }
    
                        .cta-btn-pink__txt, 
                        .cta-btn-yellow__txt {
                            font-size: 1.111vw;
                            font-family: $Kiwi;
                            font-weight: $medium;
                            white-space: nowrap;
                        }
                    }
    
                    .top-cta-btns__cta-btn--pink {
                        background-color: #F653A2;
    
                        .cta-btn-pink__txt {
                            color: $white-font-color;
                        }
                    }
    
                    .top-cta-btns__cta-btn--yellow {
                        background-color: #FCC944;
    
                        .cta-btn-yellow__txt {
                            color: $primary-font-color;
                        }
                    }
                }
            }
    
            .fv-bottom-contents {
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translate(2vw, -3vw);
    
                .left-contents {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    transform: translate(3.125vw, 6.25vw);
    
                    .left-contents__bg-yellow--txt {
                        background-color: #FCC944;
                        font-family: $Hiragino;
                        color: $primary-font-color;
                        padding: 0.417vw 0.694vw;
                        margin-bottom: 1.181vw;
                        font-size: 1.18vw;
                    }
    
                    .left-contents__pink--txt {
                        font-family: $Sans;
                        color: $primary-font-color;
                        font-weight: $black;
                        font-size: 1.389vw;
    
                        .pink {
                            color: $pink-font-color;
                            font-size: 2.222vw;
                        }
                    }
    
                    .left-contents__fv-title {
                        transform: translateX(-1.04vw);
                        margin: -1.944vw 0 -2.5vw 0;
    
                        .fv-title__img {
                            width: 35.972vw;
                        }
                    }
    
                    .left-contents__circle-contents {
                        display: flex;
                        padding: 0;
                        gap: 1.667vw;
                        margin-bottom: 1.667vw;
    
                        .circle-content {
                            background-color: #FFFFFF;
                            list-style: none;
                            border-radius: 50%;
                            width: 9.236vw;
                            height: 9.236vw;
                            filter: drop-shadow(0 0.416vw 0.138vw #00000025);
                            display: flex;
                            align-items: center;
                            justify-content: center;
    
                            .circle-content__txt {
                                color: $primary-font-color;
                                text-align: center;
                                
                                .pink {
                                    color: $pink-font-color;
                                    font-family: $Sans;
                                    font-weight: $black;
                                }
                            }
    
                            .txt-1 {
                                font-family: $Sans;
                                font-weight: $bold;
                                font-size: 1.667vw;
                                line-height: 0.7;
                                text-align: left;
                                margin-left: 0.694vw;
                                
                                .pink {
                                    font-size: 2.778vw;
                                    display: inline-block;
                                    transform: translate(0.138vw, 0.625vw);
                                    text-shadow:
                                    2px 1px #FFFFFF,
                                    -2px  2px 1px #FFFFFF,
                                    2px -2px 1px #FFFFFF,
                                    -2px -2px 1px #FFFFFF,
                                    2px  0px 1px #FFFFFF,
                                    0px  2px 1px #FFFFFF,
                                    -2px  0px 1px #FFFFFF,
                                    0px -2px 1px #FFFFFF;
                                }
                            }
                            
                            .txt-2 {
                                font-family: $Sans;
                                font-weight: $bold;
                                font-size: 1.063vw;
                                line-height: 1.3;
                                
                                .pink {
                                    font-size: 2.657vw;
                                }
                            }
    
                            .txt-3 {
                                font-family: $Hiragino;
                                font-size: 1.063vw;
                                line-height: 1.3;
    
                                .pink {
                                    font-size: 2.5vw;
                                    font-family: "impact";
                                    font-weight: initial;
                                }
    
                                .put-on-txt {
                                    display: inline-block;
                                    transform: translate(-0.277vw, 0.277vw);
                                }
                            }
                        }
                    }
    
                    .left-contents__bottom-cta-btns {
                        display: flex;
                        align-items: center;
                        gap: 2.083vw;
        
                        .bottom-cta-btns__cta-btn--pink,
                        .bottom-cta-btns__cta-btn--yellow {
                            border-radius: 6.944vw;
                            width: 13.958vw;
                            height: 4.236vw;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 1.736vw;
    
                            .cta-btn-arrow {
                                width: 0.416vw;
                            }
        
                            .cta-btn-pink__txt, 
                            .cta-btn-yellow__txt {
                                font-size: 1.389vw;
                                font-family: $Kiwi;
                                font-weight: $medium;
                                white-space: nowrap;
                            }
                        }
        
                        .bottom-cta-btns__cta-btn--pink {
                            background-color: #F653A2;
                            border: 0.208vw solid $brown-font-color;
        
                            .cta-btn-pink__txt {
                                color: $white-font-color;
                            }
                        }
        
                        .bottom-cta-btns__cta-btn--yellow {
                            background-color: #FCC944;
                            border: 0.208vw solid #000;
        
                            .cta-btn-yellow__txt {
                                color: $primary-font-color;
                            }
                        }
                    }
    
                }
    
                .right-contents {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    @include mq(wpc) {
                        gap: 3vw;
                    }
    
                    .right-contents__sppech-bubble-box {
                        display: flex;
                        align-items: center;
                        transform: translate(6.94vw, 2.569vw);
    
                        .sppech-bubble__left,
                        .sppech-bubble__middle,
                        .sppech-bubble__right {
                            position: relative;
    
                            .sppech-bubble-left__img {
                                width: 11.597vw;
                            }
    
                            .sppech-bubble-middle__img {
                                width: 16.493vw;
                            }
    
                            .sppech-bubble-right__img {
                                width: 16.284vw;
                            }
    
                            .sppech-bubble__txt {
                                position: absolute;
                                text-align: center;
                                font-family: $Hiragino;
                                color: $primary-font-color;
                                font-size: 1.667vw;;
                                white-space: nowrap;
                            }
                        }
    
                        .sppech-bubble__left {
                            transform: translate(0.694vw, 3.263vw);
    
                            .sppech-bubble__txt {
                                top: 39%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                            }
                        }
    
                        .sppech-bubble__middle {
    
                            .sppech-bubble__txt {
                                top: 48%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                            }
                        }
    
                        .sppech-bubble__right {
                            transform: translate(-2.013vw, 3.472vw);
    
                            .sppech-bubble__txt {
                                top: 49%;
                                left: 49%;
                                transform: translate(-50%,-50%);
                            }
                        }
                    }
    
                    .right-contents__fv-img {
                        width: 60vw;
                    }
                }
            }
        }

        .intro__top-txt {
            margin-top: 2vw;
            width: 22vw;
        }
    }

    .intro__bottom-txt {
        margin-bottom: 60px;
        font-family: $Sans;
        font-weight: $bold;
        color: $primary-font-color;
        font-size: 33.32px;
        text-align: center;
        margin-top: 46px;

        .pink-num {
            font-family: $Din;
            font-weight: $bold;
            color: $pink-font-color;
            font-size: 55.53px;
        }
    }
}