.top-view {
    
    .main-view {
        position: relative;
        background-image: url(/images/main-view/bg/bg.svg);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: 100% 100%;
        width: 100vw;
        height: 115vh;

        @include mq(tab) {
            background-image: url(/images/main-view/sp/main-view-bg.png.webp);
            height: 255vw;
        }

        .top-left-shape,
        .top-middle-shape,
        .top-right-shape,
        .bottom-left-shape,
        .bottom-right-shape {
            position: absolute;
        }

        .top-left-shape {
            top: 0;
            left: 0;
            width: 7.708vw;
        }

        .top-middle-shape {
            top: 0;
            left: 50%;
            width: 27.0138vw;
        }

        .top-right-shape {
            top: 0;
            right: 0;
            width: 16.94vw;
        }

        .bottom-left-shape {
            bottom: 0;
            left: 0;
            width: 23.68vw;
        }

        .bottom-right-shape {
            bottom: 0;
            right: 0;
            width: 15.277vw;
        }

        .first-view {
            width: 100%;
            position: relative;
            z-index: 500;
    
            .fv__top-contents {
                display: flex;
                justify-content: space-between;
                padding: 2.6vw 5.76vw 0 2.5vw;

                @include mq(tab) {
                    padding: 2.6vw 1.86vw 0 2.5vw;
                }
    
                .top-contents__logo-box {
                    background-image: url(/images/main-view/bg/logo-bg.svg);
                    width: 21.18vw;
                    height: 6.527vw;
                    background-size: cover;
                    position: relative;

                    @include mq(tab) {
                        width: 32.79vw;
                        height: 10vw;
                    }
    
                    .top-contents__logo {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        width: 19.444vw;

                        @include mq(tab) {
                            width: 30.23vw;
                        }
                    }
                }
    
                .top-contents__top-cta-btns {
                    display: flex;
                    align-items: center;
                    gap: 1.38vw;

                    @include mq(tab) {
                        gap: 1.86vw;
                    }
    
                    .top-cta-btns__cta-btn--pink,
                    .top-cta-btns__cta-btn--yellow {
                        border: 0.208vw solid $brown-font-color;
                        border-radius: 6.944vw;
                        width: 11.319vw;
                        height: 2.986vw;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.764vw;

                        @include mq(tab) {
                            border: 0.465vw solid $brown-font-color;
                            width: 28.139vw;
                            height: 7.209vw;
                        }
    
                        .cta-btn-arrow {
                            width: 0.416vw;

                            @include mq(tab) {
                                width: 0.93vw;
                            }
                        }
    
                        .cta-btn-pink__txt, 
                        .cta-btn-yellow__txt {
                            font-size: 1.111vw;
                            font-family: $Kiwi;
                            font-weight: $medium;
                            white-space: nowrap;

                            @include mq(tab) {
                                font-size: 2.79vw;
                            }
                        }
                    }
    
                    .top-cta-btns__cta-btn--pink {
                        background-color: #F653A2;
    
                        .cta-btn-pink__txt {
                            color: $white-font-color;
                        }
                    }
    
                    .top-cta-btns__cta-btn--yellow {
                        background-color: #FCC944;
    
                        .cta-btn-yellow__txt {
                            color: $primary-font-color;
                        }
                    }
                }
            }
    
            .fv-bottom-contents {
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translate(2vw, -3vw);

                @include mq(tab) {
                    transform: initial;
                    flex-direction: column;
                }
    
                .left-contents {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    transform: translate(3.125vw, 6.25vw);

                    @include mq(tab) {
                        transform: initial;
                        align-items: center;
                    }
    
                    .left-contents__bg-yellow--txt {
                        background-color: #FCC944;
                        font-family: $Hiragino;
                        color: $primary-font-color;
                        padding: 0.417vw 0.694vw;
                        margin-bottom: 1.181vw;
                        font-size: 1.18vw;

                        @include mq(tab) {
                            padding: 1.2vw 2.325vw;
                            margin-bottom: 3.255vw;
                            margin-top: 4.88vw;
                            font-size: 2.79vw;
                        }
                    }
    
                    .left-contents__pink--txt {
                        font-family: $Sans;
                        color: $primary-font-color;
                        font-weight: $black;
                        font-size: 1.389vw;

                        @include mq(tab) {
                            font-size: 3.72vw;
                            transform: translateX(-9.302vw);
                        }
    
                        .pink {
                            color: $pink-font-color;
                            font-size: 2.222vw;

                            @include mq(tab) {
                                font-size: 5.58vw;
                            }
                        }
                    }
    
                    .left-contents__fv-title {
                        transform: translateX(-1.04vw);
                        margin: -1.944vw 0 -2.5vw 0;

                        @include mq(tab) {
                            transform: inherit;
                            margin: initial;
                        }
    
                        .fv-title__img {
                            width: 35.972vw;

                            @include mq(tab) {
                                width: 85.348vw;
                                margin-top: -5.813vw;
                                transform: translateX(3.02vw);
                            }
                        }
                    }
    
                    .left-contents__circle-contents {
                        display: flex;
                        padding: 0;
                        gap: 1.667vw;
                        margin-bottom: 1.667vw;

                        @include mq(tab) {
                            gap: 2.79vw;
                            margin-bottom: 7.67vw;
                            margin-top: 0;
                        }
    
                        .circle-content {
                            background-color: #FFFFFF;
                            list-style: none;
                            border-radius: 50%;
                            width: 9.236vw;
                            height: 9.236vw;
                            filter: drop-shadow(0 0.416vw 0.138vw #00000025);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;

                            @include mq(tab) {
                                width: 27.9vw;
                                height: 27.9vw;
                                filter: drop-shadow(0 0.9vw 0.2vw rgba(0, 0, 0, .1450980392));
                            }
    
                            .circle-content__txt {
                                color: $primary-font-color;
                                text-align: center;
                                
                                .pink {
                                    color: $pink-font-color;
                                    font-family: $Sans;
                                    font-weight: $black;
                                }
                            }
    
                            .txt-1 {
                                font-family: $Sans;
                                font-weight: $bold;
                                font-size: 1.667vw;
                                line-height: 0.7;
                                text-align: left;
                                margin-left: 0.694vw;

                                @include mq(tab) {
                                    font-size: 5.076vw;
                                    transform: translateX(0.69vw);
                                }
                                
                                .pink {
                                    font-size: 2.778vw;
                                    display: inline-block;
                                    transform: translate(0.138vw, 0.625vw);
                                    text-shadow:
                                    2px 1px #FFFFFF,
                                    -2px  2px 1px #FFFFFF,
                                    2px -2px 1px #FFFFFF,
                                    -2px -2px 1px #FFFFFF,
                                    2px  0px 1px #FFFFFF,
                                    0px  2px 1px #FFFFFF,
                                    -2px  0px 1px #FFFFFF,
                                    0px -2px 1px #FFFFFF;

                                    @include mq(tab) {
                                        font-size: 8.46vw;
                                        transform: translate(0.138vw,1.625vw);
                                    }
                                }
                            }
                            
                            .txt-2 {
                                font-family: $Sans;
                                font-weight: $bold;
                                font-size: 1.063vw;
                                line-height: 1.3;

                                @include mq(tab) {
                                    font-size: 3.23vw;
                                }
                                
                                .pink {
                                    font-size: 2.657vw;

                                    @include mq(tab) {
                                        font-size: 8.095vw;
                                    }
                                }
                            }
    
                            .txt-3 {
                                font-family: $Hiragino;
                                font-size: 1.063vw;
                                line-height: 1.3;

                                @include mq(tab) {
                                    font-size: 3.237vw;
                                }
                            }

                            .num-and-txt {
                                display: flex;

                                .num-and-txt-img {
                                    width: 6.1458vw;
                                    margin: 0.5vw 0;

                                    @include mq(tab) {
                                        width: 19.069vw;
                                    }
                                }

                                .put-on-txt {
                                    font-family: $Hiragino;
                                    font-size: 1.063vw;
                                    display: inline-block;
                                    transform: translate(-0.277vw,1.277vw);
                                    
                                    @include mq(tab) {
                                        font-size: 3.237vw;
                                        transform: translate(-1vw,3.277vw);
                                    }
                                }
                            }
                        }
                    }
    
                    .left-contents__bottom-cta-btns {
                        display: flex;
                        align-items: center;
                        gap: 2.083vw;

                        @include mq(tab) {
                            gap: 1.6279vw;
                        }
        
                        .bottom-cta-btns__cta-btn--pink,
                        .bottom-cta-btns__cta-btn--yellow {
                            border-radius: 6.944vw;
                            width: 13.958vw;
                            height: 4.236vw;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 1.736vw;

                            @include mq(tab) {
                                width: 46.74vw;
                                height: 14.18vw;
                                gap: 1.627vw;
                            }
    
                            .cta-btn-arrow {
                                width: 0.416vw;

                                @include mq(tab) {
                                    width: 1.395vw;
                                }
                            }
        
                            .cta-btn-pink__txt, 
                            .cta-btn-yellow__txt {
                                font-size: 1.389vw;
                                font-family: $Kiwi;
                                font-weight: $medium;
                                white-space: nowrap;

                                @include mq(tab) {
                                    font-size: 4.65vw;
                                }
                            }
                        }
        
                        .bottom-cta-btns__cta-btn--pink {
                            background-color: #F653A2;
                            border: 0.208vw solid $brown-font-color;

                            @include mq(tab) {
                                border: 0.697vw solid $brown-font-color;
                            }
        
                            .cta-btn-pink__txt {
                                color: $white-font-color;
                            }
                        }
        
                        .bottom-cta-btns__cta-btn--yellow {
                            background-color: #FCC944;
                            border: 0.208vw solid #000;

                            @include mq(tab) {
                                border: 0.697vw solid #000;
                            }
                            
                            .cta-btn-yellow__txt {
                                color: $primary-font-color;
                            }
                        }
                    }
    
                }
    
                .right-contents {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
    
                    @include mq(wpc) {
                        gap: 3vw;
                    }
    
                    .right-contents__sppech-bubble-box {
                        display: flex;
                        align-items: center;
                        transform: translate(6.94vw, 2.569vw);

                        @include mq(tab) {
                            transform: initial;
                            margin: -40px 0 -43px 0;
                        }
    
                        .sppech-bubble__left,
                        .sppech-bubble__middle,
                        .sppech-bubble__right {
                            position: relative;
    
                            .sppech-bubble-left__img {
                                width: 11.597vw;

                                @include mq(tab) {
                                    width: 27.2vw;
                                }
                            }
    
                            .sppech-bubble-middle__img {
                                width: 16.493vw;

                                @include mq(tab) {
                                    width: 38.837vw;
                                }
                            }
    
                            .sppech-bubble-right__img {
                                width: 16.284vw;

                                @include mq(tab) {
                                    width: 38.37vw;
                                }
                            }
    
                            .sppech-bubble__txt {
                                position: absolute;
                                text-align: center;
                                font-family: $Hiragino;
                                color: $primary-font-color;
                                font-size: 1.667vw;;
                                white-space: nowrap;

                                @include mq(tab) {
                                    font-size: 3.25vw;
                                }
                            }
                        }
    
                        .sppech-bubble__left {
                            transform: translate(0.694vw, 3.263vw);

                            @include mq(tab) {
                                transform: translate(15vw, 2vw);
                            }
    
                            .sppech-bubble__txt {
                                top: 39%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                            }
                        }
    
                        .sppech-bubble__middle {

                            @include mq(tab) {
                                transform: translateX(8.1395vw);
                                z-index: 100;
                            }
    
                            .sppech-bubble__txt {
                                top: 48%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                            }
                        }
    
                        .sppech-bubble__right {
                            transform: translate(-2.013vw, 3.472vw);

                            @include mq(tab) {
                                transform: translate(-5vw, 2vw);
                            }
    
                            .sppech-bubble__txt {
                                top: 49%;
                                left: 49%;
                                transform: translate(-50%,-50%);
                            }
                        }
                    }
    
                    .right-contents__fv-img {
                        width: 60vw;

                        @include mq(tab) {
                            width: 117vw;
                        }
                    }
                }
            }
        }

        .intro__top-txt {
            margin-top: 2vw;
            width: 22vw;

            @include mq(tab) {
                width: 50vw;
                max-width: 400px;
                margin-top: 10vw;
            }

            @include mq(sp) {
                margin-top: 8.83vw;
                width: 93vw;
            }
        }
    }

    .intro__bottom-txt {
        margin-bottom: 60px;
        font-family: $Sans;
        font-weight: $bold;
        color: $primary-font-color;
        font-size: 33.32px;
        text-align: center;
        margin-top: 3.194vw;

        @include mq(tab) {
            margin-top: 20px;
            font-size: 24px;
        }

        .pink-num {
            font-family: $Din;
            font-weight: $bold;
            color: $pink-font-color;
            font-size: 55.53px;

            @include mq(tab) {
                font-size: 36px;
            }
        }
    }
}