<section class="about">

    <div class="about-box">

        <img class="about-img" src="/images/about/about-img.png.webp" width="875" height="642" alt="作業しているイラスト">

        <div class="about-txt-container">
            
            <h2 class="about-txt-container__about-ttl">ヴィーナスウォーカーは<br>
                <span class="pink-txt">モニター(覆面調査)<br class="tab"></span>の会社です!
            </h2>

            <p class="about-txt-container__about-txt">
                提携企業様から依頼されたモニターのお仕事を<br>
                <span class="pink-txt">会員の皆様に調査<br class="tab"></span><span class="pink-small">モニター体験・アンケート回答）</span><br>
                をしていただきます。<br>
                <br>
                調査結果は提携企業様の市場分析や<br>
                商品開発などに活用されます。<br>
                その対価として調査謝礼・報酬を<br class="tab">会員の皆様に<br class="pc">
                お支払いしています。<br>
                <br>
                そのため、みなさまからの声が<br>
                <span class="pink-txt">ブランドの成功につながります！</span><br>
                <br>
                <span class="pink-txt">好きなとき</span>に<span class="pink-txt">好きなだけ<br class="tab"></span>モニターに参加できるので、<br>
                ご自身の都合に合わせて進められる<br class="tab">魅力的なお仕事です。<br>
                <br>
                ヴィーナスウォーカーは、<br class="tab">女性限定のモニター会社なので、<br>
                <span class="pink-txt">「化粧品」「エステ・脱毛」「美容用品」</span><br class="tab">など<br>
                女性に大人気のモニターを<span class="pink-txt">多数ご用意！</span><br>
            </p>
        </div>
    </div>

</section>
<%- include('../components/_section-dot') -%>