<div class="about-work__dot-box">
  <%- include('../components/_section-dot') -%>
</div>
<section class="about-work">

  <div class="about-work__ttl-container">
    <img class="about-work__ttl-container--img" src="/images/about-work/ttl-img.png.webp" width="94" height="187" alt="女の人のイラスト">
    <h2>
      <img class="about-work__ttl-container--ttl" src="/images/about-work/about-work-ttl.png.webp" width="665.26" height="159.11" alt="どんなお仕事・調査があるの？">
    </h2>
  </div>

  <div class="about-work__works">

  </div>

  <%- include('../components/_section-dot') -%>
</section>