  <div class="floating-btn-container tab">
    <a class="floating-btn tab">
        <p class="floating-btn__txt">無料会員登録はこちら</p>
        <img class="floating-btn-arrow" src="images/main-view/white-Vector.png.webp" width="6" height="12" alt="白の右矢印">
    </a>
  </div>