<div class="header">
    
    <div class="header__logo-box">
        <img class="header__logo" src="images/common/logo.png.webp" width="280" height="38" alt="venusWalkerのロゴ">
    </div>

    <div class="header__top-contents">

        <div class="top-contents__nav pc">
            <ul  class="top-contents__nav-items">
                <li class="top-contens__nav--item"><a href="#voice">ご利用者の声</a></li>
                <li class="top-contens__nav--item"><a href="#about-work">どんな仕事がある？</a></li>
                <li class="top-contens__nav--item"><a href="#flow">申し込みの流れ</a></li>
                <li class="top-contens__nav--item"><a href="#faq">よくある質問</a></li>
            </ul>
        </div>

        <div class="top-contents__cta-btn--pink">
            <p class="cta-btn-pink__txt">会員登録</p>
            <img class="cta-btn-arrow" src="images/main-view/white-Vector.png.webp" width="6" height="12" alt="白の右矢印">
        </div>

        <div class="top-contents__cta-btn--yellow">
            <p class="cta-btn-yellow__txt">マイページ</p>
            <img class="cta-btn-arrow" src="images/main-view/black-Vector.png.webp" width="6" height="12" alt="黒の右矢印">
        </div>

        <div class="hamburger-menu__icon tab">
            <div class="hamburger-menu__icon--line"></div>
            <div class="hamburger-menu__icon--line"></div>
            <div class="hamburger-menu__icon--line"></div>
        </div>
    </div>

    <div class="hamburger-menu__nav tab">
        <div class="hamburger-menu__nav--close-btn"></div>

        <ul class="hamburger-menu__nav--items">
            <li class="hamburger-menu__nav--item"><a href="#voice">ご利用者の声</a></li>
            <li class="hamburger-menu__nav--item"><a href="#about-work">どんな仕事がある？</a></li>
            <li class="hamburger-menu__nav--item"><a href="#flow">申し込みの流れ</a></li>
            <li class="hamburger-menu__nav--item"><a href="#faq">よくある質問</a></li>
        </ul>

        <div class="nav-cv">
            <%- include('../components/cv.ejs') %>
            <div class="nav-cv__bottom-contents">
                <button  class="cv-contents__dtl--btn-2">
                    <p class="cv-btn__txt">既に会員の方はコチラ</p>
                    <img class="cta-btn__arrow" src="images/main-view/black-Vector.png.webp" width="6" height="12" alt="白の右矢印">
                </button>
                <img class="nav-footer-logo" src="images/main-view/sp/nav-footer-logo.png.webp" width="99" height="99" alt="ロゴ">
            </div>
        </div>
    </div>
</div>