<section class="main-view">

        <img class="top-left-shape" src="/images/main-view/bg/top-left-shape.svg" alt="">

        <div class="top-middle-shape">
            <img class="top-middle-shape__yellow"  src="/images/main-view/bg/top-middle-shape__yellow.svg" alt="">
            <img class="top-middle-shape__pink"  src="/images/main-view/bg/top-middle-shape__pink.svg" alt="">
        </div>

        <div class="top-right-shape">
            <img class="top-right-shape__brown"  src="/images/main-view/bg/top-right-shape__brown.svg" alt="">
            <img class="top-right-shape__pink"  src="/images/main-view/bg/top-right-shape__pink.svg" alt="">
            <img class="top-right-shape__yellow"  src="/images/main-view/bg/top-right-shape__yellow.svg" alt="">
        </div>

        <div class="bottom-left-shape">
            <img class="bottom-left-shape__brown" src="/images/main-view/bg/bottom-left-shape__brown.svg" alt="">
            <img class="bottom-left-shape__yellow" src="/images/main-view/bg/bottom-left-shape__yellow.svg" alt="">
            <img class="bottom-left-shape__pink" src="/images/main-view/bg/bottom-left-shape__pink.svg" alt="">
        </div>

        <img class="bottom-right-shape" src="/images/main-view/bg/bottom-right-shape.svg" alt="">
    
    <div class="first-view">

        <div class="fv__top-contents">

            <div class="top-contents__logo-box">
                <img class="top-contents__logo" src="/images/common/logo.png.webp" width="280" height="38" alt="venusWalkerのロゴ">
            </div>

            <div class="top-contents__top-cta-btns">
                <div class="top-cta-btns__cta-btn--pink">
                    <p class="cta-btn-pink__txt">無料会員登録</p>
                    <img class="cta-btn-arrow" src="/images/main-view/white-Vector.png" width="6" height="12" alt="白の右矢印">
                </div>
                <div class="top-cta-btns__cta-btn--yellow">
                    <p class="cta-btn-yellow__txt">既に会員の方</p>
                    <img class="cta-btn-arrow" src="/images/main-view/black-Vector.png" width="6" height="12" alt="黒の右矢印">
                </div>
            </div>
        </div>

        <div class="fv-bottom-contents">
            
            <div class="left-contents">
                <p class="left-contents__bg-yellow--txt">大手エステサロンの施術や話題の健康食品まで</p>
                <p class="left-contents__pink--txt">
                    <span class="pink">あなた</span>の<span class="pink">声</span>が<br>
                    <span class="pink">ブランド</span>の<span class="pink">成功</span>につながります
                </p>
                <h1 class="left-contents__fv-title">
                    <img class="fv-title__img" src="/images/main-view/fv-title.png.webp" width="518" height="191" alt="美容モニター">
                </h1>
                <ul class="left-contents__circle-contents">
                    <li class="circle-content">
                        <p class="circle-content__txt txt-1">Wワーク<br>副業<span class="pink">OK</span></p>
                    </li>
                    <li class="circle-content">
                        <p class="circle-content__txt txt-2">会員登録は<br><span class="pink">無料</span></p>
                    </li>
                    <li class="circle-content">
                        <p class="circle-content__txt txt-3">女性限定<br><span class="pink">20/30</span>代<br>活躍中!</p>
                    </li>
                </ul>
                <div class="left-contents__bottom-cta-btns">
                    <div class="bottom-cta-btns__cta-btn--pink">
                        <p class="cta-btn-pink__txt">無料会員登録</p>
                        <img class="cta-btn-arrow" src="/images/main-view/white-Vector.png" width="6" height="12" alt="白の右矢印">
                    </div>
                    <div class="bottom-cta-btns__cta-btn--yellow">
                        <p class="cta-btn-yellow__txt">既に会員の方</p>
                        <img class="cta-btn-arrow" src="/images/main-view/black-Vector.png" width="6" height="12" alt="黒の右矢印">
                    </div>
                </div>
            </div>
    
            <div class="right-contents">
                <div class="right-contents__sppech-bubble-box">
                    <div class="sppech-bubble__left">
                        <img class="sppech-bubble-left__img" src="/images/main-view/speech-bubble-left__img.png.webp" width="167" height="167" alt="吹き出し">
                        <p class="sppech-bubble__txt">ノルマ無し！</p>
                    </div>
                    <div class="sppech-bubble__middle">
                        <img class="sppech-bubble-middle__img" src="/images/main-view/speech-bubble-middle__img.png.webp" width="237.5" height="243.5" alt="吹き出し">
                        <p class="sppech-bubble__txt">好きな<br>タイミング<br>でOK！</p>
                    </div>
                    <div class="sppech-bubble__right">
                        <img class="sppech-bubble-right__img" src="/images/main-view/speech-bubble-right__img.png.webp" width="234.5" height="239.5" alt="吹き出し">
                        <p class="sppech-bubble__txt">おうちで<br>できる！</p>
                    </div>
                </div>
                <img class="right-contents__fv-img" src="/images/main-view/fv-img.png.webp" width="880" height="368" alt="ファーストビューのイメージ画像">
            </div>
        </div>
    </div>

    <div class="intro">
        <img class="intro__top-txt" src="/images/main-view/intro-top-txt.png.webp" width="476" height="218" alt="まずは、10,000円からお仕事探してみませんか？">
        <p class="intro__bottom-txt">
            月々<span class="pink-num">30,000</span>円~<span class="pink-num">50,000</span>円の<br>報酬獲得が実現可能です！
        </p>
    </div>
</section>