<section class="reasons">

    <img class="top-left-shape" src="/images/resons/bg/top-left-shape.svg">
    <img class="bottom-left-shape" src="/images/resons/bg/bottom-left-shape.svg">
    <img class="middle-right-shape" src="/images/resons/bg/middle-right-shape.svg">

    <%- include('../components/_section-dot') -%>

    <div class="reasons__ttl-with-img">
        <h2>
            <img class="reasons__ttl-with-img--ttl" src="/images/resons/reason-ttl.png.webp" width="393" height="199.55" alt="選ばれる４つの理由">
        </h2>
        <img class="reasons__ttl-with-img--img" src="/images/resons/reason-img.png.webp" width="679.86" height="481.64" alt="会話しているイラスト">
    </div>

    <div class="reasons__points">

        <div class="point point-1">
            <div class="point__ttl">
                <p class="point__ttl--txt">point</p>
                <p class="point__ttl--num">01</p>
            </div>
            <img class="point__icon" src="/images/resons/reson-icon-1.png.webp" width="115" height="115" alt="アンケート調査のアイコン">
            <p class="point__txt">ノルマは一切ナシ</p>
            <p class="point__dtl">
                「月に〇〇円分の案件をしなくてはいけない」といった決まりはありません。ノルマがないから気軽に始められて、継続しやすい！
            </p>
        </div>
        <div class="point point-2">
            <div class="point__ttl">
                <p class="point__ttl--txt">point</p>
                <p class="point__ttl--num">02</p>
            </div>
            <img class="point__icon" src="/images/resons/reson-icon-2.png.webp" width="140" height="140" alt="アンケート調査のアイコン">
            <p class="point__txt">すぐに働ける</p>
            <p class="point__dtl">
                登録が完了したその日から仕事がスタートできる
                登録完了したら、すぐにお仕事をご紹介可能！
            </p>
        </div>
        <div class="point point-3">
            <div class="point__ttl">
                <p class="point__ttl--txt">point</p>
                <p class="point__ttl--num">03</p>
            </div>
            <img class="point__icon" src="/images/resons/reson-icon-3.png.webp" width="120" height="120" alt="アンケート調査のアイコン">
            <p class="point__txt">好きな時間に好きな仕事を</p>
            <p class="point__dtl">
                決まった勤務時間があるわけではありません。
                ご自身のご都合が良いタイミングで、好きなお仕事を選んでください
            </p>
        </div>
        <div class="point point-4">
            <div class="point__ttl">
                <p class="point__ttl--txt">point</p>
                <p class="point__ttl--num">04</p>
            </div>
            <img class="point__icon" src="/images/resons/reson-icon-4.png.webp" width="112" height="112" alt="アンケート調査のアイコン">
            <p class="point__txt">しっかりとしたサポート体制</p>
            <p class="point__dtl">
                登録時の説明会で仕事の流れや謝礼の受け取り方などしっかりと説明いたします。モニター調査が初めての方も、安心して仕事をはじめられます
            </p>
        </div>
    </div>

    <%- include('../components/_section-dot') -%>
</section>