<section class="recommend">

    <img class="left-shape" src="images/recommend/bg/left-shape.svg">
    <img class="right-shape" src="images/recommend/bg/right-shape.svg">

    <div class="recommend-contents">

        <div class="recommend-contents__pc-top-speech-bubbles pc">

            <div class="top-speech-bubbles__speech-bubble-1">
                <img class="top-speech-bubbles__speech-bubble-1--img" src="images/recommend/speech-bubble-1.png.webp" width="279.96" height="246" alt="吹き出しの画像">
                <p class="top-speech-bubbles__speech-bubble-1--txt">Wワーク<br>副業を<br>検討している</p>
            </div>

            <div class="top-speech-bubbles__speech-bubble-2">
                <img class="top-speech-bubbles__speech-bubble-2--img" src="images/recommend/speech-bubble-2.png.webp" width="272.25" height="270.07" alt="吹き出しの画像">
                <p class="top-speech-bubbles__speech-bubble-2--txt">エステや<br>コスメに<br>興味がある</p>
            </div>

            <div class="top-speech-bubbles__speech-bubble-3">
                <img class="top-speech-bubbles__speech-bubble-3--img" src="images/recommend/speech-bubble-3.png.webp" width="255.11" height="275.99" alt="吹き出しの画像">
                <p class="top-speech-bubbles__speech-bubble-3--txt">スキマ時間で<br>おこづかいが<br>欲しい</p>
            </div>

            <div class="top-speech-bubbles__speech-bubble-4">
                <img class="top-speech-bubbles__speech-bubble-4--img" src="images/recommend/speech-bubble-4.png.webp" width="271.46" height="254.23" alt="吹き出しの画像">
                <p class="top-speech-bubbles__speech-bubble-4--txt">トレンド<br>新しいモノが<br>好き</p>
            </div>
        </div>

        <div class="recommend-contents__tab-speech-bubbles tab">

            <div class="recommend-contents__tab-top-speech-bubbles">
                <div class="tab-top-speech-bubbles__speech-bubble-1">
                    <img class="tab-top-speech-bubbles__speech-bubble-1--img" src="images/recommend/speech-bubble-3.png.webp" width="255.11" height="275.99" alt="吹き出しの画像">
                    <p class="tab-top-speech-bubbles__speech-bubble-1--txt">スキマ時間で<br>おこづかいが<br>欲しい</p>
                </div>
                <div class="tab-top-speech-bubbles__speech-bubble-2">
                    <img class="tab-top-speech-bubbles__speech-bubble-2--img" src="images/recommend/speech-bubble-1.png.webp" width="279.96" height="246" alt="吹き出しの画像">
                    <p class="tab-top-speech-bubbles__speech-bubble-2--txt">Wワーク<br>副業を<br>検討している</p>
                </div>
            </div>

            <div class="recommend-contents__tab-middle-speech-bubbles">
                <div class="tab-middle-speech-bubbles__speech-bubble-1">
                    <img class="tab-middle-speech-bubbles__speech-bubble-1--img" src="images/recommend/speech-bubble-2.png.webp" width="272.25" height="270.07" alt="吹き出しの画像">
                    <p class="tab-middle-speech-bubbles__speech-bubble-1--txt">エステや<br>コスメに<br>興味がある</p>
                </div>
                <div class="tab-middle-speech-bubbles__speech-bubble-2">
                    <img class="tab-middle-speech-bubbles__speech-bubble-2--img" src="images/recommend/speech-bubble-1.png.webp" width="279.96" height="246" alt="吹き出しの画像">
                    <p class="tab-middle-speech-bubbles__speech-bubble-2--txt">履歴書や<br>書類作成が<br> 面倒</p>
                </div>
                <div class="tab-middle-speech-bubbles__speech-bubble-3">
                    <img class="tab-middle-speech-bubbles__speech-bubble-3--img" src="images/recommend/speech-bubble-4.png.webp" width="271.46" height="254.23" alt="吹き出しの画像">
                    <p class="tab-middle-speech-bubbles__speech-bubble-3--txt">短期間で<br>お金を<br>稼ぎたい</p>
                </div>
            </div>

            <div class="recommend-contents__tab-bottom-speech-bubbles">
                <div class="tab-bottom-speech-bubbles__speech-bubble-1">
                    <img class="tab-bottom-speech-bubbles__speech-bubble-1--img" src="images/recommend/speech-bubble-2.png.webp" width="272.25" height="270.07" alt="吹き出しの画像">
                    <p class="tab-bottom-speech-bubbles__speech-bubble-1--txt">キレイに<br>なりたい</p>
                </div>
                <div class="tab-bottom-speech-bubbles__speech-bubble-2">
                    <img class="tab-bottom-speech-bubbles__speech-bubble-2--img" src="images/recommend/speech-bubble-3.png.webp" width="255.11" height="275.99" alt="吹き出しの画像">
                    <p class="tab-bottom-speech-bubbles__speech-bubble-2--txt">どこの<br>エステに通うか<br>迷っている</p>
                </div>
                <div class="tab-bottom-speech-bubbles__speech-bubble-3">
                    <img class="tab-bottom-speech-bubbles__speech-bubble-3--img" src="images/recommend/speech-bubble-4.png.webp" width="271.46" height="254.23" alt="吹き出しの画像">
                    <p class="tab-bottom-speech-bubbles__speech-bubble-3--txt">トレンド<br>新しいモノが<br>好き</p>
                </div>
            </div>
        </div>

        <img class="recommend-contents__middle-txt" src="images/recommend/recommend-txt.png.webp" width="757px" height="131px" alt="こんな方におすすめ">

        <div class="recommend-contents__pc-bottom-speech-bubbles pc">

            <div class="bottom-speech-bubbles__speech-bubble-1">
                <img class="bottom-speech-bubbles__speech-bubble-1--img" src="images/recommend/speech-bubble-1.png.webp" width="279.96" height="246" alt="吹き出しの画像">
                <p class="bottom-speech-bubbles__speech-bubble-1--txt">履歴書や<br>書類作成が<br> 面倒</p>
            </div>

            <div class="bottom-speech-bubbles__speech-bubble-2">
                <img class="bottom-speech-bubbles__speech-bubble-2--img" src="images/recommend/speech-bubble-2.png.webp" width="272.25" height="270.07" alt="吹き出しの画像">
                <p class="bottom-speech-bubbles__speech-bubble-2--txt">キレイに<br>なりたい</p>
            </div>

            <div class="bottom-speech-bubbles__speech-bubble-3">
                <img class="bottom-speech-bubbles__speech-bubble-3--img" src="images/recommend/speech-bubble-3.png.webp" width="255.11" height="275.99" alt="吹き出しの画像">
                <p class="bottom-speech-bubbles__speech-bubble-3--txt">どこの<br>エステに通うか<br>迷っている</p>
            </div>

            <div class="bottom-speech-bubbles__speech-bubble-4">
                <img class="bottom-speech-bubbles__speech-bubble-4--img" src="images/recommend/speech-bubble-4.png.webp" width="271.46" height="254.23" alt="吹き出しの画像">
                <p class="bottom-speech-bubbles__speech-bubble-4--txt">短期間で<br>お金を稼ぎたい</p>
            </div>
        </div>
    </div>
    <div class="tab">
        <%- include('../components/_section-dot') -%>
    </div>
</section>