<section class="seminar">

  <img class="left-shape" src="/images/seminar/left-shape.svg">
  <img class="right-shape" src="/images/seminar/right-shape.svg">

  <%- include('../components/_section-dot') -%>

  <div class="seminar__ttl-container">
    <img class="seminar__ttl-container--left-img" src="/images/seminar/ttl-left-img.png.webp" width="106" height="210" alt="女の人のイラスト">
    <h2>
      <img class="seminar__ttl-container--ttl" src="/images/seminar/seminar-ttl.png.webp" width="384" height="135.49" alt="初心者にオススメ電話セミナー">
    </h2>
    <img class="seminar__ttl-container--right-img" src="/images/seminar/ttl-right-img.png.webp" width="120" height="208" alt="女の人のイラスト">
  </div>

  <div class="seminar__contents">

    <div class="seminar-left-content">
      <div class="seminar-content__top-content">
        <p class="seminar-content__top-content--txt">
          会員登録後に<br><span class="pink">電話セミナー</span>にご参加ください<span class="pink-mark">！</span>
        </p>
        <div class="seminar-content__top-content--img-box">
          <img class="seminar-content__top-content--img" src="/images/seminar/seminar-left-img.png.webp" width="138" height="155" alt="電話している女性のイラスト">
        </div>
      </div>
      <div class="seminar-content__dtl">
        <p class="seminar-content__dtl--top-txt">会員登録後に電話セミナーにご参加いただくと</p>
        <ul class="seminar-content__dtl--list">
          <li  class="seminar-content__dtl--txt-box">
            <img class="dtl-chack-icon" src="/images/seminar/chack-mark.png.webp" width="51" height="47.81" alt="チェックマーク">
            <p class="dtl-txt">調査の一連の流れ</p>
          </li>
          <li  class="seminar-content__dtl--txt-box">
            <img class="dtl-chack-icon" src="/images/seminar/chack-mark.png.webp" width="51" height="47.81" alt="チェックマーク">
            <p  class="dtl-txt">サイトの使い方</p>
          </li>
          <li  class="seminar-content__dtl--txt-box">
            <img class="dtl-chack-icon" src="/images/seminar/chack-mark.png.webp" width="51" height="47.81" alt="チェックマーク">
            <p  class="dtl-txt">謝礼の引き出し方</p>
          </li>
        </ul>
        <p class="seminar-content__dtl--bottom-txt">
          などをお電話でレクチャー<br>
          月間2,000名程度の方にご利用いただいております。
        </p>
      </div>
    </div>

    <img class="semminar-contents__arrow" src="/images/seminar/right-arrow.png.webp" width="29.19" height="236.66" alt="黒の右矢印">

    <div class="seminar-right-content">
      <div class="seminar-content__top-content">
        <p class="seminar-content__top-content--txt">
          電話セミナーに参加すると<br>こんな<span class="pink">メリット </span>があります
        </p>
        <div class="seminar-content__top-content--img-box">
          <img class="seminar-content__top-content--img" src="/images/seminar/seminar-right-img.png.webp" width="107" height="155" alt="電話している女性のイラスト">
        </div>
      </div>
      <div class="seminar-content__dtl">
        <p class="seminar-content__dtl--top-txt">例えば</p>
        <ul class="seminar-content__dtl--list">
          <li  class="seminar-content__dtl--txt">❶ 参加社限定！調査費用の一部を先払い</li>
          <li  class="seminar-content__dtl--txt">❷ 大手エステ、美容案件などを実質無料で<br><span class="move-right-txt">体感できることも</span></li>
          <li  class="seminar-content__dtl--txt">❸ お小遣い稼ぎ、副業OK！ノルマもなし！</li>
          <li  class="seminar-content__dtl--txt">❹ 会場限定のキャンペーンもご用意！</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="seminar__bottom-content">
    <p class="seminar__bottom-content--txt">
      電話セミナーに参加することで<br>
      <span class="pink">
        体験可能な<span class="big-pink">案件</span>が
        <span class="big-pink">増</span><span class="middle-pink">えます！</span>
      </span>
    </p>
    <img class="seminar__bottom-content--img" src="/images/seminar/up-arrow.png.webp" width="255" height="125" alt="上向きの矢印イラスト">
  </div>

  <%- include('../components/_section-dot') -%>

</section>