<section class="seminar">

  <img class="left-shape" src="/images/seminar/left-shape.svg">
  <img class="right-shape" src="/images/seminar/right-shape.svg">

  <%- include('../components/_section-dot') -%>

  <div class="seminar__ttl-container">
    <img class="seminar__ttl-container--left-img" src="/images/seminar/ttl-left-img.png.webp" width="106" height="210" alt="女の人のイラスト">
    <div class="seminar__ttl-container--ttl-box">
      <p class="ttl-box__ttl-note--box" >
        <svg class="ttl-box__ttl-note--svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
          <defs>
            <text class="ttl-box__ttl-note" dy="0.4em" id="SeminarTtlNote">初心者にオススメ</text>
          </defs>
          <use x="50%" y="50%" xlink:href="#SeminarTtlNote"></use>
          <use x="50%" y="50%" xlink:href="#SeminarTtlNote"></use>
        </svg>
      </p>
      <h2 class="ttl-box__ttl--box">
        <svg  xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
          <defs>
            <text dy="0.4em" id="SeminarTtl">電話セミナー</text>
          </defs>
          <use x="50%" y="50%" xlink:href="#SeminarTtl"></use>
          <use x="50%" y="50%" xlink:href="#SeminarTtl"></use>
        </svg>
      </h2>
    </div>
    <img class="seminar__ttl-container--right-img" src="/images/seminar/ttl-right-img.png.webp" width="120" height="208" alt="女の人のイラスト">
  </div>

  <div class="seminar__contents">

    <div class="seminar-left-content">
      <div class="seminar-content__top-content">
        <div class="seminar-content__top-content--txt-box">
          <p class="seminar-content__top-content--top-text">会員登録後に</p>
          <div class="seminar-content__top-content--bottom-text">
            <p class="bottom-text--pink">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                <defs>
                  <text dy="0.4em" id="SeminarPinkTxt">電話セミナー</text>
                </defs>
                <use x="50%" y="50%" xlink:href="#SeminarPinkTxt"></use>
                <use x="50%" y="50%" xlink:href="#SeminarPinkTxt"></use>
              </svg>
            </p>
            <p class="bottom-text--black">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                  <defs>
                    <text dy="0.4em" id="SeminarBlackTxt">にご参加ください</text>
                  </defs>
                  <use x="50%" y="50%" xlink:href="#SeminarBlackTxt"></use>
                  <use x="50%" y="50%" xlink:href="#SeminarBlackTxt"></use>
                </svg>
            </p>
            <p class="bottom-text--pink-mark">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                  <defs>
                    <text dy="0.4em" id="SeminarPinkMark">!</text>
                  </defs>
                  <use x="50%" y="50%" xlink:href="#SeminarPinkMark"></use>
                  <use x="50%" y="50%" xlink:href="#SeminarPinkMark"></use>
                </svg>
            </p>
          </div>
        </div>
        <div class="seminar-content__top-content--img-box">
          <img class="seminar-content__top-content--img" src="/images/seminar/seminar-left-img.png.webp" width="138" height="155" alt="電話している女性のイラスト">
        </div>
      </div>
      <div class="seminar-content__dtl">
        <p class="seminar-content__dtl--top-txt">会員登録後に電話セミナーにご参加いただくと</p>
        <ul class="seminar-content__dtl--list">
          <li  class="seminar-content__dtl--txt-box">
            <img class="dtl-chack-icon" src="/images/seminar/chack-mark.png.webp" width="51" height="47.81" alt="チェックマーク">
            <p class="dtl-txt">調査の一連の流れ</p>
          </li>
          <li  class="seminar-content__dtl--txt-box">
            <img class="dtl-chack-icon" src="/images/seminar/chack-mark.png.webp" width="51" height="47.81" alt="チェックマーク">
            <p  class="dtl-txt">サイトの使い方</p>
          </li>
          <li  class="seminar-content__dtl--txt-box">
            <img class="dtl-chack-icon" src="/images/seminar/chack-mark.png.webp" width="51" height="47.81" alt="チェックマーク">
            <p  class="dtl-txt">謝礼の引き出し方</p>
          </li>
        </ul>
        <p class="seminar-content__dtl--bottom-txt">
          などをお電話でレクチャー<br>
          月間2,000名程度の方にご利用いただいております。
        </p>
      </div>
    </div>

    <img class="semminar-contents__arrow" src="/images/seminar/right-arrow.png.webp" width="29.19" height="236.66" alt="黒の右矢印">

    <div class="seminar-right-content">
      <div class="seminar-content__top-content">
        <div class="seminar-content__top-content--txt-box">
          <p class="seminar-content__top-content--top-text">電話セミナーに参加すると</p>
          <div class="seminar-content__top-content--bottom-text">
            <p class="bottom-text--small small-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                  <defs>
                    <text dy="0.4em" id="SeminarSmallTxt1">こんな</text>
                  </defs>
                  <use x="50%" y="50%" xlink:href="#SeminarSmallTxt1"></use>
                  <use x="50%" y="50%" xlink:href="#SeminarSmallTxt1"></use>
                </svg>
            </p>
            <p class="bottom-text--large">
              <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                <defs>
                  <text dy="0.4em" id="SeminarLargeTxt">メリット </text>
                </defs>
                <use x="50%" y="50%" xlink:href="#SeminarLargeTxt"></use>
                <use x="50%" y="50%" xlink:href="#SeminarLargeTxt"></use>
              </svg>
            </p>
            <p class="bottom-text--small small-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                  <defs>
                    <text dy="0.4em" id="SeminarSmallTxt2">があります</text>
                  </defs>
                  <use x="50%" y="50%" xlink:href="#SeminarSmallTxt2"></use>
                  <use x="50%" y="50%" xlink:href="#SeminarSmallTxt2"></use>
                </svg>
            </p>
          </div>
        </div>
        <div class="seminar-content__top-content--img-box">
          <img class="seminar-content__top-content--img" src="/images/seminar/seminar-right-img.png.webp" width="107" height="155" alt="電話している女性のイラスト">
        </div>
      </div>
      <div class="seminar-content__dtl">
        <p class="seminar-content__dtl--top-txt">例えば</p>
        <ul class="seminar-content__dtl--list">
          <li  class="seminar-content__dtl--txt">❶ 参加社限定！調査費用の一部を先払い</li>
          <li  class="seminar-content__dtl--txt">❷ 大手エステ、美容案件などを実質無料で<br><span class="move-right-txt">体感できることも</span></li>
          <li  class="seminar-content__dtl--txt">❸ お小遣い稼ぎ、副業OK！ノルマもなし！</li>
          <li  class="seminar-content__dtl--txt">❹ 会場限定のキャンペーンもご用意！</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="seminar__bottom-content">
    <p class="seminar__bottom-content--txt">
      電話セミナーに参加することで<br>
      <span class="pink">
        体験可能な<span class="big-pink">案件</span>が
        <span class="big-pink">増</span><span class="middle-pink">えます！</span>
      </span>
    </p>
    <img class="seminar__bottom-content--img" src="/images/seminar/up-arrow.png.webp" width="255" height="125" alt="上向きの矢印イラスト">
  </div>

  <%- include('../components/_section-dot') -%>

</section>