html,body {
    margin: 0;
    overflow-x: hidden;
    background-color: #FFFCF4;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
}

html,
body,
input,
textarea,
button,
span,
p,
th,
td,
label,
option {
    scroll-behavior: smooth;
    scroll-padding-top: auto;
}


img {
    height: auto;
}


button {
    cursor: pointer;
}

.sp {
    @include mq(pc) {
        display: none !important;
    }
    @include mq(tab) {
        display: none !important;
    }
    @include mq(sp) {
        display: inherit !important;
    }
}

.tab {
    @include mq(pc) {
        display: none !important;
    }
}

.pc {
    @include mq(sp) {
        display: none !important;
    }
    @include mq(tab) {
        display: none !important;
    }
}

.pcTab {
    @include mq(sp) {
        display: none !important;
    }
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 100%;
}

    .content-wrapper,
    .content-container,
    .content-area {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        flex-direction: column;
        align-items: center;
    }

    .content-wrapper {
    }

    .content-container {
        max-width: 865px;
    }

    .content-area {
    }

