.cv {
  background-image: url(/images/cv/bg/cv-bg.svg);
  background-size: 100% 100%;
  height: 489px;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  z-index: 100;

  @include mq(tab) {
    background-image: url(/images/cv/sp/bg.svg);
    height:516px;
    margin-top: 45px;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 25px;
  }

  .left-shape-pc {
    width: 18.47vw;
    position: absolute;
    left: 0;
    bottom: -1vw;

    @include mq(wpc) {
        width : 11vw;
    }
  }

.right-shape-pc {
    width: 18.19vw;
    position: absolute;
    right: 0;
    top: -4vw;

    @include mq(wpc) {
        width: 12vw;
    }
  }

  .left-shape-tab {
    position: absolute;
    left: 0;
    bottom: 40px;

    @include mq(tab) {
      bottom: 91px;
    }
  }

  .right-shape-tab {
    position: absolute;
    right: 0;
    top: -65px;
  }

  .cv-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-26px);

    @include mq(tab) {
      position: relative;
      align-items: flex-end;
      padding-bottom: 80px;
      width: 100%;
    }

    .cv-contents__img {
      @include mq(tab) {
        position: absolute;
        width: 156px;
        top: -56px;
        left: 24px;
      }
    }

    .cv-contents__dtl {
      display: flex;
      flex-direction: column;
      align-items: center;

      .cv-contents__dtl--circle-contents {
        display: flex;
        padding: 0;
        gap: 22px;
        margin: 0;

        @include mq(tab) {
          gap: 0;
          transform: translateX(34px);
        }

        .circle-content {
            background-color: #FFFFFF;
            list-style: none;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            filter: drop-shadow(2px 2px #00000025);
            display: flex;
            align-items: center;
            justify-content: center;

            @include mq(tab) {
              width: 105px;
              height: 105px;
              margin-right: -7px;
            }

            .circle-content__txt {
                color: $primary-font-color;
                text-align: center;
                
                .pink {
                    color: $pink-font-color;
                    font-family: $Sans;
                    font-weight: $black;
                }
            }

            .txt-1 {
                font-family: $Sans;
                font-weight: $bold;
                font-size: 21.74px;
                line-height: 0.7;
                text-align: left;
                margin-left: 3px;

                @include mq(tab) {
                  font-size: 19px;
                }
                
                .pink {
                    font-size: 36.23px;
                    display: inline-block;
                    transform: translate(3px,9px);
                    text-shadow:
                    2px 1px #FFFFFF,
                    -2px  2px 1px #FFFFFF,
                    2px -2px 1px #FFFFFF,
                    -2px -2px 1px #FFFFFF,
                    2px  0px 1px #FFFFFF,
                    0px  2px 1px #FFFFFF,
                    -2px  0px 1px #FFFFFF,
                    0px -2px 1px #FFFFFF;

                    @include mq(tab) {
                      font-size: 31.79px;
                      transform: translate(2px,6px);
                    }
                }
            }
            
            .txt-2 {
                font-family: $Sans;
                font-weight: $bold;
                font-size: 16px;
                line-height: 1.3;
                text-align: left;
                margin-left: 7px;

                @include mq(tab) {
                  font-size: 14px;
                }

                .black {
                  display: inline-block;
                  transform: translateY(-12px);
                }
                
                .pink {
                    font-size: 32px;
                    text-shadow:
                    2px 1px #FFFFFF,
                    -2px  2px 1px #FFFFFF,
                    2px -2px 1px #FFFFFF,
                    -2px -2px 1px #FFFFFF,
                    2px  0px 1px #FFFFFF,
                    0px  2px 1px #FFFFFF,
                    -2px  0px 1px #FFFFFF,
                    0px -2px 1px #FFFFFF;

                    @include mq(tab) {
                      font-size: 28px;
                    }
                }

                .small {

                  @include mq(tab) {
                    font-size: 24.5px;
                  }
                }
            }

            .txt-3 {
                font-family: $Hiragino;
                font-size: 16px;
                line-height: 1.3;

                @include mq(tab) {
                  font-size: 14px;
                }

                .pink {
                    font-size: 40px;
                    font-family: "impact";
                    font-weight: initial;
                    display: inline-block;
                    transform: translateX(8px);

                    @include mq(tab) {
                      font-size: 35px;
                    }
                }

                .put-on-txt {
                    display: inline-block;
                    text-shadow:
                    2px 1px #FFFFFF,
                    -2px  2px 1px #FFFFFF,
                    2px -2px 1px #FFFFFF,
                    -2px -2px 1px #FFFFFF,
                    2px  0px 1px #FFFFFF,
                    0px  2px 1px #FFFFFF,
                    -2px  0px 1px #FFFFFF,
                    0px -2px 1px #FFFFFF;
                    transform: translate(3px, 4px);

                    @include mq(tab) {
                      transform: translate(0px,4px);
                    }
                }
            }
        }
      }

      .cv-contents__dtl--txt-with-btn {

        @include mq(tab) {
          position: relative;
          z-index: 200;
        }

        .cv-contents__dtl--txt {
          font-family: $Hiragino;
          font-size: 24px;
          color: $brown-font-color;
          text-align: center;
          margin: 20px 0;

          @include mq(tab) {
          font-size: 20px;
          }
        }
  
        .cv-contents__dtl--btn {
          display: flex;
          align-items: center;
          gap: 52px;
          justify-content: center;
          background-color: #F653A2;
          border-radius: 175.4px;
          border: 6px solid $brown-font-color;
          width: 504px;
          height: 83px;

          @include mq(tab) {
            width: 88vw;
            max-width: 378px;
            height: 72px;
            border: 4px solid $brown-font-color;
            gap: 30px;
          }
  
          .cv-btn__txt {
            font-family: $Kiwi;
            font-weight: $medium;
            font-size: 35px;
            color: #FFFFFF;
            letter-spacing: -0.1em;

            @include mq(tab) {
            font-size: 24px;
            }
          }
  
          .cta-btn__arrow {
            width: 12px;

            @include mq(tab) {
              width: 9px;
            }
          }
        }
      }
    }
  }
}

.last-cv {

  .cv-dot {

    @include mq(tab) {
      display: none;
    }
  }

  .cv-contents {

    @include mq(tab) {
      padding-bottom: 65px;
    }

    .cv-contents__dtl {

      .cv-contents__dtl--txt-with-btn {
        
        .cv-contents__dtl--txt {

          @include mq(tab) {
            margin-top: 30px;
          }
        }
      }
    }
  }

  .left-shape-tab {

    @include mq(tab) {
      bottom: -40px;
    }
  }
}