.section-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative;
    z-index: 800;

    .dot {
        width: 20px;
        height: 20px;
        background-color: $brown-font-color;
        border-radius: 50%;

        @include mq(tab) {
            width: 14px;
            height: 14px;
        }
    }
}