<div class="cv">

  <img class="left-shape" src="/images/cv/bg/left-shape.svg">
  <img class="right-shape" src="/images/cv/bg/right-shape.svg">

  <div class="cv-contents">
    <img class="cv-contents__img" src="/images/cv/cv-img.png.webp" width="292" height="351" alt="コールセンターの女性のイラスト">
    <div class="cv-contents__dtl">
      <ul class="cv-contents__dtl--circle-contents">
        <li class="circle-content">
            <p class="circle-content__txt txt-1">Wワーク<br>副業<span class="pink">OK</span></p>
        </li>
        <li class="circle-content">
            <p class="circle-content__txt txt-2"><span class="pink">美容系</span><br><span class="black">お仕事</span><span class="pink">多数</span></p>
        </li>
        <li class="circle-content">
            <p class="circle-content__txt txt-3">女性限定<br><span class="pink">20/30</span><span class="put-on-txt">代</span><br>活躍中!</p>
        </li>
      </ul>
      <p class="cv-contents__dtl--txt">
        お好きなタイミングで<br>簡単にお小遣い稼ぎしませんか？
      </p>
      <button  class="cv-contents__dtl--btn">
        <p class="cv-btn__txt">今すぐ無料の会員登録</p>
        <img class="cta-btn__arrow" src="/images/main-view/white-Vector.png" width="6" height="12" alt="白の右矢印">
      </button>
    </div>
  </div>

</div>